body {
    color: #303030;
}
.header {
    /* background:  no-repeat center bottom; */
    /* height: 500px; */
    width: 100%;
    color: #ffffff !important
}

.navbar-light .navbar-nav a.nav-link {
    color: #ffffff !important;
}
.bg__primary {
    background-color: #011537;
}
.btn__round {

}

.site_img {
    margin-bottom: -40px;
}